
.msgResetEmail{
  color: black;
  font-size: medium;
  line-height: normal;
}
form p {
  font-size: medium;
  line-height: normal;
}
.resetParagraph{
  cursor: pointer;
}
.resetParagraph:active{
  scale: 0.9;
  border-radius: 0;
}